<main (wheel)="preventCtrlZoom($event)">
    <div class="top-bar">
        <div class="left-container">
            <a routerLink="/profile" routerLinkActive="active" ariaCurrentWhenActive="page">
                <button mat-fab extended><mat-icon>arrow_back</mat-icon>Return to profile</button>
            </a>
        </div>
        {{ getSelectedTool() }}
        <app-toolbar (toolSelected)="onToolSelected($event)"></app-toolbar>
    </div>
    <div class="main-container">
        <div class="sidebar">
            <p>PROPERTIES</p>
            <p>PENCIL COLOR</p>
            <p>CONTRIBUTORS AND ROLES</p>
            <p>CANVAS SETTINGS</p>
            <p>CANVAS SIZE</p>
            <p>HELP BUTTON</p>
            <div>
                <div style="display: flex; gap: 0.25rem">
                    <button mat-icon-button (click)="canvasZoomOut()">
                        <mat-icon>remove</mat-icon>
                    </button>
                    <button mat-stroked-button (click)="resetCanvasScale()">{{ getZoomValue() }}</button>
                    <button mat-icon-button (click)="canvasZoomIn()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div #wrapper class="canvas-wrapper">
            <canvas
                #canvas
                [style.cursor]="getSelectedTool() === 'draw' ? 'crosshair' : 'move'"
                (mousemove)="onMouseMove($event)"
                (mousedown)="onMouseDown($event)"
                (mouseup)="onMouseUp($event)"
                (wheel)="onWheel($event)"
                class="canvas"
            ></canvas>
        </div>
    </div>
    <!-- <div>
            INFO:
            <p>logged in as: {{ user?.displayName }}, {{ user?.uid }}</p>
        </div> -->
</main>
