main {
    width: 100vw;
    height: 100vh;
    background-color: aquamarine;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.canvas-wrapper {
    background-color: red;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 4.5rem;
    gap: 0.5rem;
    background-color: white;
    border-bottom: 1px solid gray;
}

.tools {
    display: flex;
    gap: 0.5rem;
    padding: 0 1rem;
}

canvas {
    background-color: white;
}

.left-container {
    padding: 0 1rem;
}

.sidebar {
    width: 15rem;
    background-color: white;
    background-color: white;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}
