<main>
    <mat-toolbar>
        <a class="home-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
            <span class="title"> Collab Canvas </span>
        </a>
        <span class="spacer"></span>
        <div class="profile-wrapper">
            <mat-card class="profile" appearance="outlined">
                <mat-card-header>
                    <mat-card-title-group>
                        <mat-card-title class="mat-title-large">
                            {{ user?.displayName }}
                        </mat-card-title>
                        <mat-card-subtitle> {{ user?.email }}</mat-card-subtitle>
                        <img mat-card-avatar class src="{{ user?.photoURL }}" />
                    </mat-card-title-group>
                </mat-card-header>
            </mat-card>
        </div>
        <button (click)="signOut()" mat-fab extended>
            <mat-icon>logout</mat-icon>
            Sign out
        </button>
    </mat-toolbar>
    <div class="project-container">
        <div class="project-top-bar">
            <div>Projects</div>
            <button (click)="createNewCanvas()" mat-mini-fab>
                <mat-icon>add</mat-icon>
            </button>
        </div>

        <div *ngIf="canvases$ | async as canvases" class="canvases-container">
            <mat-grid-list cols="3" rowHeight="2:1" gutterSize="1rem" class="canvases-grid">
                <mat-grid-tile *ngFor="let canvas of canvases.data" class="canvas-container">
                    <app-canvas-item
                        [id]="canvas.id"
                        (handleDelete)="handleCanvasDelete($event)"
                        (click)="handleRoutingToCanvas(canvas.id)"
                    ></app-canvas-item>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>
</main>

<router-outlet></router-outlet>
