@use "sass:map";
@use "@angular/material" as mat;

main {
    // background-color: red;
    height: 100vh;
    // width: 100vw;
    display: flex;
    flex-direction: column;
}

.spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    height: 5rem;
    display: flex;
    gap: 1rem;
}

mat-card-header {
    padding: 0.5rem 0.5rem 0;
}

@mixin color($theme) {
    .profile-wrapper {
        background-color: mat.get-theme-color($theme, secondary);
    }
}

// .top-bar {
//     background-color: blue;
//     height: 4rem;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     flex-direction: row;
// }

// .title {
//     background-color: green;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     width: fit-content;
//     padding: 0 1rem 0 1rem;
//     font-weight: bold;
//     font-size: 1.5rem;
// }

.profile-info {
    display: flex;
    flex-direction: row;
    background-color: pink;
    height: 100%;
    padding: 0 1rem 0 1rem;
    align-items: center;
    gap: 1rem;
}
.info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.avatar-wrapper {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    overflow: hidden;
    display: flex;
}

.pill-wrapper {
    background-color: gray;
    width: fit-content;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    border-radius: 0.75rem;
}

.project-container {
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.project-top-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background-color: white;
    // margin-top: 0.5rem;
    font-size: 1.4rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.canvas-thumbnail {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    background-color: blue;
}

.canvas-container {
    display: flex;
    justify-content: space-between;
    // gap: 0.5rem;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
}

.canvas-container:hover {
    background-color: rgb(184, 184, 184);
}

.canvas-container:active {
    background-color: rgb(141, 141, 141);
}

.canvas-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.home-link {
    color: black;
    text-decoration: none;
}

.canvases-container {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    padding: 1rem 1rem;
}

.canvas-controls {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
