<div class="sidebar">
    <div class="container">
        thickness: {{ thicknesses[selectedThicknessIndex] }}px <br />
        color: {{ colors[selectedColorIndex] }} <br />
        <div class="pen-size">
            <app-thickness-button
                [thickness]="thicknesses[0]"
                [isSelected]="selectedThicknessIndex != 0"
                [icon]="iconNames[0]"
                (thicknessSelected)="onThicknessChange(0)"
            ></app-thickness-button>
            <app-thickness-button
                [thickness]="thicknesses[1]"
                [isSelected]="selectedThicknessIndex != 1"
                [icon]="iconNames[1]"
                (thicknessSelected)="onThicknessChange(1)"
            ></app-thickness-button>
            <app-thickness-button
                [thickness]="thicknesses[2]"
                [isSelected]="selectedThicknessIndex != 2"
                [icon]="iconNames[2]"
                (thicknessSelected)="onThicknessChange(2)"
            ></app-thickness-button>
            <app-thickness-button
                [thickness]="thicknesses[3]"
                [isSelected]="selectedThicknessIndex != 3"
                [icon]="iconNames[3]"
                (thicknessSelected)="onThicknessChange(3)"
            ></app-thickness-button>
            <app-thickness-button
                [thickness]="thicknesses[4]"
                [isSelected]="selectedThicknessIndex != 4"
                [icon]="iconNames[4]"
                (thicknessSelected)="onThicknessChange(4)"
            ></app-thickness-button>
        </div>
        <div class="divider"></div>
        <div class="color-picker">
            <div *ngFor="let color of colors; let i = index">
                <app-color-button
                    (click)="onColorChange(i)"
                    [color]="color"
                    [isSelected]="selectedColorIndex === i"
                ></app-color-button>
            </div>
        </div>
        <div class="divider"></div>
        delete, copy, merge, undo, redo <br />
        collaborators
    </div>
    <div class="footer">
        <button mat-icon-button (click)="handleZoomOutClick()">
            <mat-icon>remove</mat-icon>
        </button>
        <button style="width: 5rem" mat-stroked-button (click)="handleZoomResetClick()">
            {{ zoomValue }}
        </button>
        <button mat-icon-button (click)="handleZoomInClick()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
