:host {
    flex-grow: 1;
    display: flex;
}

.sidebar {
    width: 15rem;
    display: flex;

    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.pen-size {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.footer {
    display: flex;
    gap: 0.25rem;
}
