/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

@include mat.core();

$theme: mat.define-theme(
    (
        color: (
            theme-type: dark,
            primary: mat.$blue-palette,
        ),
        typography: (
            brand-family: "Roboto, sans-serif",
            bold-weight: 900,
        ),
        density: (
            scale: -1,
        ),
    )
);

html {
    @include mat.all-component-themes($theme);
}

app-root {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.tools {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 4rem);
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(150, 150, 150);
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
