name: Deploy to Firebase Hosting on PR
"on": pull_request
jobs:
    build_and_preview:
        if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2

            - name: Generate environment files
              env:
                  FIREBASE_API_KEY: ${{ secrets.FIREBASE_API_KEY }}
                  FIREBASE_AUTH_DOMAIN: ${{ secrets.FIREBASE_AUTH_DOMAIN }}
                  FIREBASE_PROJECT_ID: ${{ secrets.FIREBASE_PROJECT_ID }}
                  FIREBASE_STORAGE_BUCKET: ${{ secrets.FIREBASE_STORAGE_BUCKET }}
                  FIREBASE_MESSAGING_SENDER_ID: ${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}
                  FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
              run: |
                  echo "export const firebaseConfig = {
                      apiKey: '${{ secrets.FIREBASE_API_KEY }}',
                      authDomain: '${{ secrets.FIREBASE_AUTH_DOMAIN }}',
                      projectId: '${{ secrets.FIREBASE_PROJECT_ID }}',
                      storageBucket: '${{ secrets.FIREBASE_STORAGE_BUCKET }}',
                      messagingSenderId: '${{ secrets.FIREBASE_MESSAGING_SENDER_ID }}',
                      appId: '${{ secrets.FIREBASE_APP_ID }}'
                  };" > src/environments/environment.ts

            - name: Install dependencies and build
              run: npm ci && npm run build

            - name: Deploy to Firebase Hosting
              uses: FirebaseExtended/action-hosting-deploy@v0
              with:
                  repoToken: "${{ secrets.GITHUB_TOKEN }}"
                  firebaseServiceAccount: "${{ secrets.FIREBASE_SERVICE_ACCOUNT_COLLABCANVAS_D4338 }}"
                  channelId: live
                  projectId: collabcanvas-d4338
